h4 {
margin-top: 3px;
margin-bottom: 5px;
padding-right: 7px;
}
td {
  border: 1px solid black;
  padding: 5px;
}
.sign {
text-align: right;
font-size: 1.3vw;
font: bold;
padding-bottom: 3px;}
.number {
text-align: left;
font-size: 1vw;
}
.massa {
text-align: right;
font-size: 0.75vw;
}
.electrons {
display: block;
justify-content: center;
font-size: 10px;
width: .9em;
text-align: left;}
.container {
display: flex;
justify-content: space-between;
min-width: 60px;
}
.other_data {
display: flex;
flex-direction: column;
text-align: left;
}
