{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}
    <h3>Articles</h3>
    {% if not article_list %}
        <p>No available data!</p>
    {% else %}
        <table>
            <tr>
                <td>Title</td>
                <td>Author</td>
                <td>Created</td>
                <td>Synopsis</td>
            </tr>
            {% for article in article_list %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.author }}</td>
                <td>{{ article.created }}</td>
                <td>{{ article.synopsis }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock content %}