{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}
    <h3>Articles</h3>
    {% if not article %}
        <p>No available data!</p>
    {% else %}
    <span><b>Title</b></span>: <span>{{ article.title }}</span><br>
    <span><b>Author</b></span>: <span>{{ article.author }}</span><br>
    <span><b>Created</b></span>: <span>{{ article.created }}</span><br>
    <span><b>Synopsis</b></span>: <span>{{ article.synopsis }}</span><br>
    <span><b>Content</b></span>: <span>{{ article.content }}</span><br>
    {% endif %}
{% endblock content %}