<h1>Display HTML page</h1>
<p>
    After you have a project and an app, open views.py and let’s start creating a view called geeks_view which is used print “Hello world” through a template file. A django view is a python function which accept an argument called request and returns an response.
    Enter following code into views.py of app but this code won’t work until into define a proper mapping of URL. 
    Mapping means you need to tell Django what a user enters in the browser to render your particular view. For example www.geeksforgeeks.org tells django to execute its home page view. So let’s modify urls.py to start our view.
    Include your app’s urls into main urls by adding following code to geeksforgeeks > urls.py.
</p>