<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title></title>
        {% load bootstrap3 %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
        {% bootstrap_css %}
        {% block style %}
        {% endblock style %}
    </head>
    <body>
    <nav>
        {% if request.session.username %}
            <h2>Hello {{ request.session.username }}!</h2>
        {% endif %}
            <a href="/" name="home">Home</a><br/>
        {% if not request.session.logged_in %}
            <a href="/login" name="login">Login</a><br/>
            <a href="/register" name="register">Register</a><br/>
        {% else %}
            <a href="/logout" name="login">Logout</a><br/>
            {% if request.user.is_authenticated %}
            <a href="/create_tip" name="create_tip">
                <button>Create a tip</button>
            </a><br/>
            {% endif %}
        {% endif %}
    </nav>
    {% block content %}
    {% endblock content %}
    </body>
</html>