{% extends 'index.html' %}
{% block style %}
 {% load bootstrap3 %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
        {% bootstrap_css %}

{% endblock style %}

{% block content %}
{% if error %}
    {% bootstrap_alert error alert_type="warning"%}
{% endif %}
<form method="POST" class="form">
    {% csrf_token %}
     {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
</form>
{% endblock content %}