{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
{% endblock style %}

{% block content %}
    <h3>Articles</h3>
    {% if not favourites %}
        <p>No available data!</p>
    {% else %}
        <ol>
        {% for every in favourites %}
            <li><a href="{% url 'article_detail' pk=every.article.pk %}">{{ every.article.title }}</a></li>
        {% endfor %}
        </ol>
    {% endif %}
{% endblock content %}